<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @record.game_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Plate appearance:</strong>
  <%= @record.plate_appearance %>
</p>

<p>
  <strong>At bat:</strong>
  <%= @record.at_bat %>
</p>

<p>
  <strong>One base hit:</strong>
  <%= @record.one_base_hit %>
</p>

<p>
  <strong>Two base hit:</strong>
  <%= @record.two_base_hit %>
</p>

<p>
  <strong>Three base hit:</strong>
  <%= @record.three_base_hit %>
</p>

<p>
  <strong>Home run:</strong>
  <%= @record.home_run %>
</p>

<p>
  <strong>Base balls:</strong>
  <%= @record.base_balls %>
</p>

<p>
  <strong>Hit by pitch:</strong>
  <%= @record.hit_by_pitch %>
</p>

<p>
  <strong>Strike out:</strong>
  <%= @record.strike_out %>
</p>

<p>
  <strong>Get double play:</strong>
  <%= @record.get_double_play %>
</p>

<p>
  <strong>Sacrifice fly:</strong>
  <%= @record.sacrifice_fly %>
</p>

<p>
  <strong>Sacrifice hit:</strong>
  <%= @record.sacrifice_hit %>
</p>

<p>
  <strong>Stolen base:</strong>
  <%= @record.stolen_base %>
</p>

<p>
  <strong>Base error:</strong>
  <%= @record.base_error %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= @record.runs_scored %>
</p>

<p>
  <strong>Run batted in:</strong>
  <%= @record.run_batted_in %>
</p>

<p>
  <strong>Scoring position:</strong>
  <%= @record.scoring_position %>
</p>

<p>
  <strong>Caught stealing:</strong>
  <%= @record.caught_stealing %>
</p>

<p>
  <strong>Ground out:</strong>
  <%= @record.ground_out %>
</p>

<p>
  <strong>Fly out:</strong>
  <%= @record.fly_out %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
