<p id="notice"><%= notice %></p>

<h1>Statistics</h1>
<%= @test %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>打数</th>
      <th>1塁打</th>
      <th>2塁打</th>
      <th>3塁打</th>
      <th>本塁打</th>
      <th>四球</th>
      <th>死球</th>
      <th>三振</th>
      <th>併殺打</th>
      <th>犠飛</th>
      <th>犠打</th>
      <th>盗塁</th>
      <th>失策出</th>
      <th>塁打</th>
      <th>打率</th>
      <th>出塁率</th>
      <th>長打率</th>
      <th>OPS</th>
<!--<th>得点圏打率</th>-->
      <th>選球眼</th>
      <th>XR</th>
      <th>XR27</th>
      <th>wOBA</th>
      <th>wRAA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.user_id %></td>
        <td><%= statistic.at_bat %></td>
        <td><%= statistic.one_base_hit %></td>
        <td><%= statistic.two_base_hit %></td>
        <td><%= statistic.three_base_hit %></td>
        <td><%= statistic.home_run %></td>
        <td><%= statistic.base_balls %></td>
        <td><%= statistic.hit_by_pitch %></td>
        <td><%= statistic.strike_out %></td>
        <td><%= statistic.get_double_play %></td>
        <td><%= statistic.sacrifice_fly %></td>
        <td><%= statistic.sacrifice_hit %></td>
        <td><%= statistic.stolen_base %></td>
        <td><%= statistic.base_error %></td>
        <td><%= @total_bases %></td>
        <td><%= @average.round(3) %></td>
        <td><%= @on_base_percentage.round(3) %></td>
        <td><%= @slugging_percentage.round(3) %></td>
        <td><%= @OPS.round(3) %></td>
        <td><%= @batting_eye.round(3) %></td>
        <td><%= @xr.round(3) %></td>
        <td><%= @xr27.round(3) %></td>
        <td><%= @wOBA.round(3) %></td>
<%
=begin %>
        <td><%= statistic.total_bases %></td>
        <td><%= statistic.average %></td>
        <td><%= statistic.on_base_percentage %></td>
        <td><%= statistic.slugging_percentage %></td>
        <td><%= statistic.OPS %></td>
        <td><%= statistic.RISP_BA %></td>
        <td><%= statistic.batting_eye %></td>
        <td><%= statistic.XR27 %></td>
        <td><%= statistic.wOBA %></td>
        <td><%= statistic.wRAA %></td>
<%
=end %>
        <td><%= link_to 'Show', statistic %></td>
        <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>
