<p id="notice"><%= notice %></p>

<h1>Statistics</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>User</th>
      <th>Plate appearance</th>
      <th>At bat</th>
      <th>One base hit</th>
      <th>Two base hit</th>
      <th>Three base hit</th>
      <th>Home run</th>
      <th>Base balls</th>
      <th>Hit by pitch</th>
      <th>Strike out</th>
      <th>Get double play</th>
      <th>Sacrifice fly</th>
      <th>Sacrifice hit</th>
      <th>Stolen base</th>
      <th>Base error</th>
      <th>Total bases</th>
      <th>Average</th>
      <th>On base percentage</th>
      <th>Slugging percentage</th>
      <th>Ops</th>
      <th>Stolen base</th>
      <th>Risp ba</th>
      <th>Batting eye</th>
      <th>Xr27</th>
      <th>Woba</th>
      <th>Wraa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.game_id %></td>
        <td><%= statistic.user_id %></td>
        <td><%= statistic.plate_appearance %></td>
        <td><%= statistic.at_bat %></td>
        <td><%= statistic.one_base_hit %></td>
        <td><%= statistic.two_base_hit %></td>
        <td><%= statistic.three_base_hit %></td>
        <td><%= statistic.home_run %></td>
        <td><%= statistic.base_balls %></td>
        <td><%= statistic.hit_by_pitch %></td>
        <td><%= statistic.strike_out %></td>
        <td><%= statistic.get_double_play %></td>
        <td><%= statistic.sacrifice_fly %></td>
        <td><%= statistic.sacrifice_hit %></td>
        <td><%= statistic.stolen_base %></td>
        <td><%= statistic.base_error %></td>
        <td><%= statistic.total_bases %></td>
        <td><%= statistic.average %></td>
        <td><%= statistic.on_base_percentage %></td>
        <td><%= statistic.slugging_percentage %></td>
        <td><%= statistic.OPS %></td>
        <td><%= statistic.stolen_base %></td>
        <td><%= statistic.RISP_BA %></td>
        <td><%= statistic.batting_eye %></td>
        <td><%= statistic.XR27 %></td>
        <td><%= statistic.wOBA %></td>
        <td><%= statistic.wRAA %></td>
        <td><%= link_to 'Show', statistic %></td>
        <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>
