<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @statistic.game_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @statistic.user_id %>
</p>

<p>
  <strong>Plate appearance:</strong>
  <%= @statistic.plate_appearance %>
</p>

<p>
  <strong>At bat:</strong>
  <%= @statistic.at_bat %>
</p>

<p>
  <strong>One base hit:</strong>
  <%= @statistic.one_base_hit %>
</p>

<p>
  <strong>Two base hit:</strong>
  <%= @statistic.two_base_hit %>
</p>

<p>
  <strong>Three base hit:</strong>
  <%= @statistic.three_base_hit %>
</p>

<p>
  <strong>Home run:</strong>
  <%= @statistic.home_run %>
</p>

<p>
  <strong>Base balls:</strong>
  <%= @statistic.base_balls %>
</p>

<p>
  <strong>Hit by pitch:</strong>
  <%= @statistic.hit_by_pitch %>
</p>

<p>
  <strong>Strike out:</strong>
  <%= @statistic.strike_out %>
</p>

<p>
  <strong>Get double play:</strong>
  <%= @statistic.get_double_play %>
</p>

<p>
  <strong>Sacrifice fly:</strong>
  <%= @statistic.sacrifice_fly %>
</p>

<p>
  <strong>Sacrifice hit:</strong>
  <%= @statistic.sacrifice_hit %>
</p>

<p>
  <strong>Stolen base:</strong>
  <%= @statistic.stolen_base %>
</p>

<p>
  <strong>Base error:</strong>
  <%= @statistic.base_error %>
</p>

<p>
  <strong>Total bases:</strong>
  <%= @statistic.total_bases %>
</p>

<p>
  <strong>Average:</strong>
  <%= @statistic.average %>
</p>

<p>
  <strong>On base percentage:</strong>
  <%= @statistic.on_base_percentage %>
</p>

<p>
  <strong>Slugging percentage:</strong>
  <%= @statistic.slugging_percentage %>
</p>

<p>
  <strong>Ops:</strong>
  <%= @statistic.OPS %>
</p>

<p>
  <strong>Stolen base:</strong>
  <%= @statistic.stolen_base %>
</p>

<p>
  <strong>Risp ba:</strong>
  <%= @statistic.RISP_BA %>
</p>

<p>
  <strong>Batting eye:</strong>
  <%= @statistic.batting_eye %>
</p>

<p>
  <strong>Xr27:</strong>
  <%= @statistic.XR27 %>
</p>

<p>
  <strong>Woba:</strong>
  <%= @statistic.wOBA %>
</p>

<p>
  <strong>Wraa:</strong>
  <%= @statistic.wRAA %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
